<div class="container-fluid about-page">
    <div class="dark-fill container-fluid" id="about">
        <h1>About</h1>
        <div class="col-md-4">
            <p>
                Hi! I'm Connor, a mobile/web developer and this is my personal web site where I hope to give you
                an idea of who I am. As a graduate of Arizona State University, I have earned my B.S. in Computer
                Information Systems with a certificate in Small Business & Entrepreneurship. I have a very diverse
                skill set with knowledge in the major web development languages including HTML, CSS, JavaScript, PHP
                and more. I absolutely love turning ideas into reality and creating applications that are both
                visually appealing and useful. You can view some of my work here.
            </p>
        </div>
        <div class="col-md-4">
            <p>
                A little bit more about my interests: I am fascinated by every aspect of web development. From the
                design and visual appeal to the backend database, I have experience in every stage of the process.
                However, my expertise and greatest satisfaction lies in data handling and functionality, building the
                bridge between the front end and back end. I have a strong interest in social applications and have
                been diving into the mobile app side of things, Android in particular.
            </p>
        </div>
        <div class="col-md-4">
            <p>
                When I'm not in front of a computer screen I love being outside. I go running, mountain biking, hiking
                and enjoy attending music festivals. During the winter months, I will most likely be up in the mountains
                skiing. This past summer, I went on a 7 week backpacking trip through Europe which sparked a love for
                traveling. I have an innate desire to explore the world and experience other countries. This passion has
                led to some fun projects that I've been working on regarding travel applications.If you'd like to learn
                more about me or reach out for any reason, feel free to contact me here.
            </p>
        </div>
    </div>
</div>