<div class="projects-page" ng-controller="ProjectCtrl">
    <div class="container-fluid thumbnails">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <img class="img-circle" src="../img/triptivity-logo.png">
            <h3 class="text-center">Triptivity</h3>
            <p>
                Social network for travelers allowing people to create profiles for their trips.
            </p>
            <p class="text-center learn-more"><button>Learn More</button></p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <img class="img-circle" src="../img/eggleston-designs-blk.png">
            <h3 class="text-center">Eggleston Designs</h3>
            <p>Small business website for home staging. Yes, the owner is related to me.</p>
            <p class="text-center learn-more"><button>Learn More</button></p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <img class="img-circle" src="../img/feel-free.png">
            <h3 class="text-center">Feel Free</h3>
            <p>Startup utilizing technology to enhance social and collaborative experiences.</p>
            <p class="text-center learn-more"><button>Learn More</button></p>
        </div>
    </div>
</div>
