<div class="projects-page" ng-controller="ProjectCtrl">
    <!--thumbnails to represent a brief description of my projects and links to learn more about them-->
    <div class="container-fluid thumbnails">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <img class="img-circle" src="../img/triptivity-logo.png">
            <h3 class="text-center">Triptivity</h3>
            <p>Social network for travelers allowing people to create profiles for their trips.</p>
            <p class="text-center learn-more">
                <a href="" ng-click="gotoAnchor(1)"><button>Learn More</button></a>
            </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <img class="img-circle" src="../img/eggleston-designs.png">
            <h3 class="text-center">Eggleston Designs</h3>
            <p>Small business website for home staging. Yes, the owner is related to me.</p>
            <p class="text-center learn-more">
                <a href="" ng-click="gotoAnchor(2)"><button>Learn More</button></a>
            </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <img class="img-circle" src="../img/feel-free.png">
            <h3 class="text-center">Feel Free</h3>
            <p>Startup utilizing technology to enhance social and collaborative experiences.</p>
            <p class="text-center learn-more">
                <a href="" ng-click="gotoAnchor(3)"><button>Learn More</button></a>
            </p>
        </div>
    </div>
    <!--The section where the Triptivity project will be highlighted-->
    <div class="container-fluid project-container" id="triptivity">
        <div class="col-md-12 project-section" id="anchor1">
            <h1 class="text-center project-title">Triptivity</h1>
            <div class="container-fluid row project-content">
                <div class="col-md-6 col-md-push-6">
                    <!--carousel of mobile triptivity images-->
                    <h2 class="carousel-header triptivity-carousel-header text-center">Android Prototype</h2>
                    <div id="triptivity-android-carousel" class="carousel slide">
                        <!-- carousel items -->
                        <div class="carousel-inner triptivity-inner">
                            <div class="active item">
                                <img src="../img/triptivity-android-screens/home-screen.png">
                            </div>
                            <div class="item">
                                <img src="../img/triptivity-android-screens/profile-screen.png">
                            </div>
                            <div class="item">
                                <img src="../img/triptivity-android-screens/create-trip-screen.png">
                            </div>
                            <div class="item">
                                <img src="../img/triptivity-android-screens/explore-screen.png">
                            </div>
                            <div class="item">
                                <img src="../img/triptivity-android-screens/headlines-screen.png">
                            </div>
                        </div>
                        <!-- carousel nav -->
                        <a carousel-action class="carousel-control left" data-slide="prev" direction="prev" target="triptivity-android">
                            <i class="fa fa-chevron-circle-left fa-2x carousel-nav-icons"></i>
                        </a>
                        <a carousel-action class="carousel-control right" data-slide="next" direction="next" target="triptivity-android">
                            <i class="fa fa-chevron-circle-right fa-2x carousel-nav-icons"></i>
                        </a>
                    </div>
                    <!--carousel of desktop triptivity images-->
                    <a href="https://tryptravl.com" target="_blank" class="tryptravl-link">
                        <h2 class="carousel-header triptivity-carousel-header text-center">Desktop Version (Tryptravl)</h2>
                    </a>
                    <div id="triptivity-desktop-carousel" class="carousel slide">
                        <!-- carousel items -->
                        <div class="carousel-inner triptivity-inner">
                            <div class="active item">
                                <img src="../img/triptivity-desktop-screens/splash-screen.png">
                            </div>
                            <div class="item">
                                <img src="../img/triptivity-desktop-screens/profile-screen.png">
                            </div>
                            <div class="item">
                                <img src="../img/triptivity-desktop-screens/trip-home-screen.png">
                            </div>
                            <div class="item">
                                <img src="../img/triptivity-desktop-screens/places-screen.png">
                            </div>
                            <div class="item">
                                <img src="../img/triptivity-desktop-screens/blog-screen.png">
                            </div>
                            <div class="item">
                                <img src="../img/triptivity-desktop-screens/album-screen.png">
                            </div>
                            <div class="item">
                                <img src="../img/triptivity-desktop-screens/messages-screen.png">
                            </div>
                        </div>
                        <!-- carousel nav -->
                        <a carousel-action class="carousel-control left" data-slide="prev" direction="prev" target="triptivity-desktop">
                            <i class="fa fa-chevron-circle-left fa-2x carousel-nav-icons"></i>
                        </a>
                        <a carousel-action class="carousel-control right" data-slide="next" direction="next" target="triptivity-desktop">
                            <i class="fa fa-chevron-circle-right fa-2x carousel-nav-icons"></i>
                        </a>
                    </div> <!--end carousels-->
                </div>
                <div class="col-md-6 col-md-pull-6">
                    <p>
                        Triptivity (formerly known as <a class="inner-site-navigation-links to-tryptravl" href="https://tryptravl.com">Tryptravl</a>) is a project of mine that has turned into something really
                        awesome. I started this project in the fall of 2013 when I thought how cool it would be to have a website where I could
                        document everything about my upcoming Eurotrip. I wanted my family and friends to be able
                        to log on to the site and see all of the pictures I would upload, the locations I would
                        &lsquo;check in&rsquo; at and the blog posts I would talk about. The biggest difference from other social
                        networks was that I wanted the site to be travel-centric rather than about the individual.
                    </p>
                    <p>
                        I embarked on a mission to create this site with a short time frame of only about 7 months before
                        leaving for Europe. With my skills in HTML, CSS, JavaScript and PHP I was able to bring to market
                        the beta version of the website and use it for my Eurotrip. The site utilizes a simple CSS grid system
                        with a PHP/MySQL back end.
                    </p>
                    <p>
                        Within a few weeks of launching,
                        I was able to get 50 users to sign up and be a part of Triptivity. If they decided to follow my Eurotrip,
                        they would receive email notifications whenever new content was posted. My mom would always say how much
                        she enjoyed waking up and seeing the notifications about my recent shenanigans in Barcelona or Florence
                        or wherever I happened to be.
                    </p>
                    <p>
                        Going into the fall of 2014, I knew the idea was popular enough to continue building. I began development
                        on the Android platform using my skills in Java and interfacing with Parse.com's 3rd party back end. Triptivity
                        now a prototype on the Android platform, but development does not stop here.
                    </p>
                    <p>
                        During my last semester at ASU, and with the help of an awesome team, Triptivity had progressed and now has a full
                        business plan. Our Triptivity team entered the ASU Changemaker Challenge for a chance to win funding. Shortly after, we were
                        notified we were in the top 20 finalists out of over 150 applicant startups. After delivering the final pitch
                        Triptivity received $2,500 to use for growing the business.
                    </p>
                    <p>
                        This endeavour has turned into something more than just a project. Every day I think about how far Triptivity can go and
                        what can be done to bring this to market full scale. As the founder and
                        sole developer, I am so excited to see where I can take this next. I plan to continue development and have recently
                        begun researching hybrid app development, particularly Ionic with AngularJS and Cordova. Triptivity needs to be mobile friendly to be successful and the best way
                        to reach the maximum amount of people in a short amount of time is to build a hybrid application to deliver Triptivity
                        on all platforms. Stay tuned to see what's next...
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--The section where the Eggleston Designs project will be highlighted-->
    <div class="container-fluid project-container" id="eggleston-designs">
        <div class="col-md-12 project-section" id="anchor2">
            <h1 class="text-center project-title">
                <a class="external-project-link" href="http://egglestondesigns.com">
                    Eggleston Designs
                </a>
            </h1>
            <div class="container-fluid row project-content">
                <div class="col-md-12">
                    <!--carousel of eggleston designs images-->
                    <div id="eggleston-designs-carousel" class="carousel slide">
                        <!-- carousel items -->
                        <div class="carousel-inner eggleston-designs-inner">
                            <div class="active item">
                                <img src="../img/eggleston-designs-screens/home-screen.png">
                            </div>
                            <div class="item">
                                <img src="../img/eggleston-designs-screens/about-screen.png">
                            </div>
                            <div class="item">
                                <img src="../img/eggleston-designs-screens/services-screen.png">
                            </div>
                            <div class="item">
                                <img src="../img/eggleston-designs-screens/portfolio-main-screen.png">
                            </div>
                            <div class="item">
                                <img src="../img/eggleston-designs-screens/portfolio-occupied-screen.png">
                            </div>
                            <div class="item">
                                <img src="../img/eggleston-designs-screens/testimonials-screen.png">
                            </div>
                            <div class="item">
                                <img src="../img/eggleston-designs-screens/contact-screen.png">
                            </div>
                        </div>
                        <!-- carousel nav -->
                        <a carousel-action class="carousel-control left" data-slide="prev" direction="prev" target="eggleston-designs">
                            <i class="fa fa-chevron-circle-left fa-2x carousel-nav-icons"></i>
                        </a>
                        <a carousel-action class="carousel-control right" data-slide="next" direction="next" target="eggleston-designs">
                            <i class="fa fa-chevron-circle-right fa-2x carousel-nav-icons"></i>
                        </a>
                    </div>
                    <!--end carousels-->
                </div>
                <div class="container-fluid">
                    <div class="col-md-6">
                        <p>
                            Eggleston Designs is a small business website that I designed and developed for a home stager. The owner,
                            Cheri Eggleston, happens to be my mom so I made sure to give her a great deal! The web development
                            started as part a senior project while I was at ASU. I was tasked with designing a new website for
                            a small business and I gained some valuable experience going through all of the steps necessary including
                            design proposals, gathering requirements, researching the competition, constant client communication and feedback. This was my first real website
                            that I had developed and I was excited to go through the process. When thinking about what website to build, I knew that my mom's business, Eggleston Designs, did not have a website
                            yet. I thought, what better way to immerse myself into web development than with a client who won't put so much
                            pressure on me and will be incredibly easy to get a hold of when I need information.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            I built the site using simple
                            HTML, CSS and JavaScript and it took me approximately 2 months of work. Considering this was my first live website
                            I am happy to see how it turned out, and my mom was ecstatic as well.
                            Within a fairly short period of time, the Eggleston Designs website was generating enough traffic to improve the business.
                            I was receiving compliments on the work I had done and Eggleston Designs, through the website, was noticed by the Sacramento
                            Bee and featured on an article about home staging in the Northern California area. This project was a turning point for me
                            and I realized I wanted to be in development long term. I can't explain the satisfaction I get from creating something from an
                            idea and making it tangible, useful and something that will have a lasting impact on the business.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--The section where the Eggleston Designs project will be highlighted-->
    <div class="container-fluid project-container" id="feel-free">
        <div class="col-md-12 project-section" id="anchor3">
            <h1 class="text-center project-title">
                <a class="external-project-link" href="http://feelfreemovement.com">
                    Feel Free
                </a>
            </h1>
            <div class="container-fluid row project-content">
                <div class="col-md-6 col-md-push-6">
                    <p id="feel-free-p">
                        Feel Free is a startup that seeks to utilize technology to enhance social and collaborative experiences.
                        I got involved with Feel Free as part of my senior project for my CIS capstone course at ASU. Various
                        companies came to pitch projects for students to work on throughout the semester. I chose to be a part
                        of Feel Free along with 5 other classmates. I knew I would be excited about this project since I love the
                        starup feel and social applications.
                    </p>
                    <p>
                        I immediately volunteered for the role of team lead as I wanted to get the most out of the experience as
                        I could. The project first called for developing the Feel Free website that would allow people to log in
                        using their Facebook credentials and search their surroundings for various &lsquo;Feel Free spaces&rsquo;
                        where they could go to interact with and meet others. Feel Free spaces include such locations as coffee shops,
                        cafes, small events, etc. The goal is to get people to connect with each other on a meaningful level.
                    </p>
                    <p>
                        The technology involved with this project was quite complex and the requirements were constantly changing.
                        Throughout development, I was responsible for overseeing the team's progress, managing our Github repository,
                        implementing new frameworks and technologies and was the main point of contact between our team and the client.
                        We decided to use Parse.com's 3rd party back end as a service to handle data storage which allowed us to focus
                        more on front end development and JavaScript implementations to interface with Parse.
                    </p>
                    <p>
                        The craziest part about this project was how quickly the clients would change their mind. We had a deadline to
                        have the application beta version ready for use at an upcoming event, but the complexity was underestimated and
                        we were approaching the deadline without a project. Having some android experience, I volunteered to develop a
                        beta version of the Android application with only 4 days left until the event. This may sound a little crazy,
                        and I did have to go on a 36 hour coding binge to get it done, but I did it. The Android app went through only
                        about 24 hours of rough testing before it was ready for the event. The app worked as expected and made our clients
                        extremely happy that I was able to deliver this app on such short notice. The Android application ended up being the final
                        project to demo for the course and one of my proudest moments as a new developer.
                    </p>
                </div>
                <div class="col-md-6 col-md-pull-6 image-container">
                    <img id="feel-free-logo" src="../img/feel-free-logo.png">
                    <!--carousel of eggleston designs images-->
                    <div id="feel-free-carousel" class="carousel slide">
                        <!-- carousel items -->
                        <div class="carousel-inner feel-free-inner">
                            <div class="active item">
                                <img src="../img/feel-free-android-screens/splash.png">
                            </div>
                            <div class="item">
                                <img src="../img/feel-free-android-screens/spaces.png">
                            </div>
                            <div class="item">
                                <img src="../img/feel-free-android-screens/checked-in.png">
                            </div>
                            <div class="item">
                                <img src="../img/feel-free-android-screens/profile.png">
                            </div>
                            <div class="item">
                                <img src="../img/feel-free-android-screens/other-profile.png">
                            </div>
                            <div class="item">
                                <img src="../img/feel-free-android-screens/contact-card.png">
                            </div>
                            <div class="item">
                                <img src="../img/feel-free-android-screens/nod.png">
                            </div>
                        </div>
                        <!-- carousel nav -->
                        <a carousel-action class="carousel-control left" data-slide="prev" direction="prev" target="feel-free">
                            <i class="fa fa-chevron-circle-left fa-2x carousel-nav-icons"></i>
                        </a>
                        <a carousel-action class="carousel-control right" data-slide="next" direction="next" target="feel-free">
                            <i class="fa fa-chevron-circle-right fa-2x carousel-nav-icons"></i>
                        </a>
                    </div>
                    <!--end carousels-->
                </div>
            </div>
        </div>
    </div>
</div>