<div class="projects-page" ng-controller="ProjectCtrl">
    <!--thumbnails to represent a brief description of my projects and links to learn more about them-->
    <div class="container-fluid thumbnails">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <img class="img-circle" src="../img/triptivity-logo.png">

            <h3 class="text-center">Triptivity</h3>

            <p>Social network for travelers allowing people to create profiles for their trips.</p>

            <p class="text-center learn-more">
                <button>Learn More</button>
            </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <img class="img-circle" src="../img/eggleston-designs.png">

            <h3 class="text-center">Eggleston Designs</h3>

            <p>Small business website for home staging. Yes, the owner is related to me.</p>

            <p class="text-center learn-more">
                <button>Learn More</button>
            </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <img class="img-circle" src="../img/feel-free.png">

            <h3 class="text-center">Feel Free</h3>

            <p>Startup utilizing technology to enhance social and collaborative experiences.</p>

            <p class="text-center learn-more">
                <button>Learn More</button>
            </p>
        </div>
    </div>
    <!--The section where the Triptivity project will be highlighted-->
    <div class="container-fluid project-container triptivity">
        <div class="col-md-12 project-section">
            <h1 class="text-center">Triptivity</h1>
            <div class="container-fluid row project-content">
                <div class="col-md-6 col-md-push-6">
                    <!--carousel of projects images-->
                    <div id="myCarousel1" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel1" data-slide-to="1"></li>
                            <li data-target="#myCarousel1" data-slide-to="2"></li>
                        </ol>
                        <!-- carousel items -->
                        <div class="carousel-inner">
                            <div class="active item">
                                <img src="http://lorempixel.com/600/400/city/">
                            </div>
                            <div class="item">
                                <img src="http://lorempixel.com/600/400/technics/">
                            </div>
                            <div class="item">
                                <img src="http://lorempixel.com/600/400/business/">
                            </div>
                        </div>
                        <!-- carousel nav -->
                        <a carousel-action class="carousel-control left" data-slide="prev" direction="prev">
                            <i class="fa fa-chevron-circle-left fa-2x carousel-nav-icons"></i>
                        </a>
                        <a carousel-action class="carousel-control right" data-slide="next" direction="next">
                            <i class="fa fa-chevron-circle-right fa-2x carousel-nav-icons"></i>
                        </a>
                    </div>
                    <div class="tech-used">
                        <h3 class="text-center">Technologies Used</h3>
                        <div class="container-fluid">
                            <div class="col-md-4">
                                <img src="http://lorempixel.com/300/300/people/">
                            </div>
                            <div class="col-md-4">
                                <img src="http://lorempixel.com/300/300/sports/">
                            </div>
                            <div class="col-md-4">
                                <img src="http://lorempixel.com/300/300/nightlife/">
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="col-md-4">
                                <img src="http://lorempixel.com/300/300/abstract/">
                            </div>
                            <div class="col-md-4">
                                <img src="http://lorempixel.com/300/300/food/">
                            </div>
                            <div class="col-md-4">
                                <img src="http://lorempixel.com/300/300/nature/">
                            </div>
                        </div>
                    </div>
                    <div class="tech-used future">
                        <h3 class="text-center">Future Development</h3>
                        <div class="container-fluid">
                            <div class="col-md-4">
                                <img src="http://lorempixel.com/300/300/people/">
                            </div>
                            <div class="col-md-4">
                                <img src="http://lorempixel.com/300/300/sports/">
                            </div>
                            <div class="col-md-4">
                                <img src="http://lorempixel.com/300/300/nightlife/">
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="col-md-4">
                                <img src="http://lorempixel.com/300/300/abstract/">
                            </div>
                            <div class="col-md-4">
                                <img src="http://lorempixel.com/300/300/food/">
                            </div>
                            <div class="col-md-4">
                                <img src="http://lorempixel.com/300/300/nature/">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-md-pull-6">
                    <p>
                        Triptivity (formerly known as Tryptravl) is a project of mine that has turned into something really
                        awesome. I started this project in the fall of 2013 when I thought how cool it would be to have a website where I could
                        document everything about my upcoming Eurotrip. I wanted my family and friends to be able
                        to log on to the site and see all of the pictures I would upload, the locations I would &lsquo;
                        check in &rsquo; at and the blog posts I would talk about. The biggest difference from other social
                        networks was that I wanted the site to be travel-centric rather than about the individual.
                    </p>
                    <p>
                        I embarked on a mission to create this site with a short time frame of only about 7 months before
                        leaving for Europe. With my skills in HTML, CSS, JavaScript and PHP I was able to bring to market
                        the beta version of the website and use it for my Eurotrip. The site utilizes a simple CSS grid system
                        with a PHP/MySQL back end.
                    </p>
                    <p>
                        Within a few weeks of launching,
                        I was able to get 50 users to sign up and be a part of Triptivity. If they decided to follow my Eurotrip,
                        they would receive email notifications whenever new content was posted. My mom would always say how much
                        she enjoyed waking up and seeing the notifications about my recent shenanigans in Barcelona or Florence
                        or wherever I happened to be.
                    </p>
                    <p>
                        Going into the fall of 2014, I knew the idea was popular enough to continue building. I began development
                        on the Android platform using my skills in Java and interfacing with Parse.com's 3rd party back end. Triptivity
                        now a prototype on the Android platform, but development does not stop here.
                    </p>
                    <p>
                        During my last semester at ASU, and with the help of an awesome team, Triptivity had progressed and now has a full
                        business plan. Our Triptivity team entered the ASU Changemaker Challenge for a chance to win funding. Shortly after, we were
                        notified we were in the top 20 finalists out of over 150 applicant startups. After delivering the final pitch
                        Triptivity received $2,500 to use for growing the business.
                    </p>
                    <p>
                        This endeavour has turned into something more than just a project. Every day I think about how far Triptivity can go and
                        what can be done to bring this to market full scale. As the founder and
                        sole developer, I am so excited to see where I can take this next. I plan to continue development and have recently
                        begun researching hybrid app development, particularly Ionic with AngularJS and Cordova. Triptivity needs to be mobile friendly to be successful and the best way
                        to reach the maximum amount of people in a short amount of time is to build a hybrid application to deliver Triptivity
                        on all platforms. Stay tuned to see what's next...
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
