@import "constants.less";

.about-page {

  #about {
    margin-top: 15px;
  }

  .dark-fill {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: @site-content-font-size;
    padding: 15px;
    border-radius: 10px;

  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
}