//percentages
@social-icon-darken-parcentage: 10%;

//dimensions
@main-banner-height: 125px;
@main-banner-padding: 15px;
@projects-carousel-max-width: 600px;

//font sizes
@site-content-font-size: 19px;
@navigation-link-font-size: 20px;
@emphasis-font-size: 24px;
@navigation-side-name-font-size: 44px;
@banner-name-font-size: 48px;
@project-title-font-size: 48px;
@project-title-font-size-small: 36px;

//colors
@banner-background-color: #333;
@sub-banner-background-color: #bbb;
@send-button-background-color: #4682B4;
@navigation-side-list-item-active-color: darken(#fff, 2%);
@main-content-background-color: #f8f8f8;
@page-background-color: #bec3c6;
@banner-name-text-color: #fff;
@download-link-color: #000;
@default-link-hover-color: darkgreen;
@footer-background-color: lighten(@banner-background-color, 10%);
@ocean-blue: #1C6BA0;
@projects-thumbnail-background-color: darken(@main-content-background-color, 4%);
@triptivity-project-background-color: #397EAB;
@carousel-header-background-color: #d8d8d8;

//social icons
@linkedin-color: #4875B4;
@linkedin-color-hover: darken(@linkedin-color, @social-icon-darken-parcentage);
@github-color: #444;
@github-color-hover: darken(@github-color, @social-icon-darken-parcentage);
@facebook-color: #3B5998;
@facebook-color-hover: darken(@facebook-color, @social-icon-darken-parcentage);
@instagram-color: #4E433C;
@instagram-color-hover: darken(@instagram-color, @social-icon-darken-parcentage);
@twitter-color: #33CCFF;
@twitter-color-hover: darken(@twitter-color, @social-icon-darken-parcentage);
@soundcloud-color: #FF5500;
@soundcloud-color-hover: darken(@soundcloud-color, @social-icon-darken-parcentage);