html {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
}
html body {
  height: 100%;
  width: 100%;
  background-color: #bec3c6;
}
html body .remove-padding {
  padding-left: 0;
  padding-right: 0;
}
html body .banner {
  margin-bottom: 0;
  background-color: #333333;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
}
html body .banner .banner-contents {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 15px;
}
html body .banner .banner-contents img {
  border: 2px solid #fff;
  float: left;
}
html body .banner .banner-contents h1 {
  font-size: 48px;
  color: #ffffff;
  float: left;
  margin-left: 15px;
}
html body .sub-banner {
  background-color: #cccccc;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  margin-bottom: 0;
}
html body .sub-banner .nav-links li a {
  color: #000;
  font-weight: bold;
  font-size: 20px;
}
html body .sub-banner .downloader {
  list-style: none;
}
html body .sub-banner .downloader i {
  margin-top: 10px;
  margin-right: 10px;
  padding-left: 15px;
  color: #000000;
}
html body .sub-banner .downloader a:hover {
  text-decoration: none;
}
html body .sub-banner .downloader a:hover span,
html body .sub-banner .downloader a:hover i {
  color: darkgreen;
}
html body .sub-banner .downloader span {
  color: #000000;
  font-size: 20px;
}
html body .site-content {
  background-color: #f8f8f8;
  border: 1px solid #000;
  border-top: none;
  padding: 0;
}
html body .footer {
  padding: 20px 0;
  background-color: #4d4d4d;
  color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
@media (max-width: 768px) {
  html .banner h1 {
    display: none;
  }
  html .banner img {
    margin-left: 41.5%;
  }
}
