@import "constants.less";

html {
  min-height: 100%;
  min-width: 100%;
  position: absolute;

  body {

    height: 100%;
    width: 100%;
    background-color: @page-background-color;

    .remove-padding {
      padding-left: 0;
      padding-right: 0;
    }

    .banner {
      margin-bottom: 0;
      background-color: @banner-background-color;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1px solid #000;
      border-radius: 0;

      .banner-contents {

        padding-top: @main-banner-padding;
        padding-bottom: @main-banner-padding;
        margin-left: @main-banner-padding;

        img {
          border: 2px solid #fff;
          float: left;
        }

        h1 {
          font-size: @banner-name-font-size;
          color: @banner-name-text-color;
          float: left;
          margin-left: 15px;
        }
      }
    }

    .sub-banner {
      background-color: @sub-banner-background-color;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #000;
      border-left: 1px solid #000;
      border-right: 1px solid #000;
      margin-bottom: 0;

      .nav-links li a {
        color: #000;
        font-weight: bold;
        font-size: @navigation-link-font-size;
      }

      .downloader {
        list-style: none;

        i {
          margin-top: 10px;
          margin-right: 10px;
          padding-left: 15px;
          color: @download-link-color;
        }

        a:hover {
          text-decoration: none;
          span, i {
            color: @download-link-hover-color;
          }
        }

        span {
          color: @download-link-color;
          font-size: @navigation-link-font-size;
        }
      }
    }

    .site-content {
      background-color: @main-content-background-color;
      border: 1px solid #000;
      border-top: none;
    }

    footer {
      margin-top: 10px;
    }

  }
  
  @media (max-width: 768px) {
    .banner {
      h1 {
        display: none;
      }

      img {
        margin-left: 41.5%;
      }
    }
  }
}