html {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
}
html body {
  width: 100%;
  background-color: #f6f6f6;
}
html body #navigation-side {
  overflow: hidden;
  min-height: 100%;
  width: 425px;
  position: absolute;
  padding-top: 30px;
  border-right: 2px solid #062539;
  background: -webkit-linear-gradient(left top, #2f678c, #397eab);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #2f678c, #397eab);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #2f678c, #397eab);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #2f678c, #397eab);
  /* Standard syntax */
  -webkit-box-shadow: 2px 3px 5px #000;
  -moz-box-shadow: 2px 3px 5px #000;
}
html body #navigation-side img {
  border: 2px solid #fff;
  -webkit-box-shadow: 2px 4px #000;
  -moz-box-shadow: 2px 4px #000;
}
html body #navigation-side img:hover {
  cursor: pointer;
}
html body #navigation-side h1 {
  margin-top: 25px;
  font-size: 44px;
  color: #062539;
}
html body #navigation-side ul {
  margin-top: 50px;
}
html body #navigation-side ul li {
  font-size: 30px;
  padding: 15px;
}
html body #navigation-side ul li a {
  color: #062539;
  text-decoration: none;
}
html body #navigation-side ul li a:hover {
  cursor: pointer;
  color: #fafafa;
}
html body #navigation-side ul li a.active-page {
  color: #fafafa;
}
html body #template-view {
  margin-left: 425px;
  max-width: 100%;
  min-height: 100%;
}
