//dimensions
@navigation-side-width: 425px;

//font sizes
@navigation-side-list-font-size: 30px;
@navigation-side-name-font-size: 44px;

//colors
@navigation-side-background-color: #397EAB;
@navigation-side-font-color: darken(#0D527E, 15%);
@navigation-side-list-item-active-color: darken(#fff, 2%);

html {
  min-height: 100%;
  min-width: 100%;
  position: absolute;

  body.main {

    width: 100%;
    background: url('../img/sf-skyline.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    #navigation-side {
      overflow: hidden;
      min-height: 100%;
      width: @navigation-side-width;
      position: absolute; //TODO: fixed or absolute?
      padding-top: 30px;
      border-right: 2px solid @navigation-side-font-color;
      background: -webkit-linear-gradient(left top, darken(@navigation-side-background-color, 8%), @navigation-side-background-color); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(bottom right, darken(@navigation-side-background-color, 8%), @navigation-side-background-color); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(bottom right, darken(@navigation-side-background-color, 8%), @navigation-side-background-color); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to bottom right, darken(@navigation-side-background-color, 8%), @navigation-side-background-color); /* Standard syntax */
      -webkit-box-shadow: 2px 3px 5px #000;
      -moz-box-shadow: 2px 3px 5px #000;

      img {
        border-radius: 50%;
        border: 2px solid #fff;
        -webkit-box-shadow: 1px 4px #000;
        -moz-box-shadow: 1px 4px #000;

        &:hover {
          cursor: pointer;
        }
      }

      h1 {
        margin-top: 25px;
        font-size: @navigation-side-name-font-size;
        color: @navigation-side-font-color;
      }

      ul {
        margin-top: 50px;

        li {
          font-size: @navigation-side-list-font-size;
          padding: 15px;

          a {
            color: @navigation-side-font-color;
            text-decoration: none;

            &:hover {

              cursor: pointer;
              color: @navigation-side-list-item-active-color;
            }

            &.active-page {
              color: @navigation-side-list-item-active-color;
            }
          }
        }
      }
    }

    #template-view {
      margin-left: @navigation-side-width;
      max-width: 100%;
      min-height: 100%;
    }
  }
}