html {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
}
html body {
  width: 100%;
  background-color: #bec3c6;
}
html body .remove-padding {
  padding-left: 0;
  padding-right: 0;
}
html body .banner {
  height: 125px;
  margin-bottom: 0;
  background-color: #333333;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
}
html body .banner h1 {
  font-size: 48px;
  color: #ffffff;
  margin-left: 15px;
}
html body .sub-banner {
  background-color: #ccc;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  margin-bottom: 0;
}
html body .sub-banner .nav-links li a {
  color: #000;
  font-weight: bold;
  font-size: 20px;
}
html body .site-content {
  background-color: #f8f8f8;
  border: 1px solid #000;
  border-top: none;
}
