@import "constants.less";

.projects-page {

  font-size: @site-content-font-size;

  .carousel-container {
    padding: 0;
  }

  .carousel {
    a {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .carousel-inner {
    img {
      width: 100%;
    }
  }



}