@import "constants.less";

.projects-page {

  font-size: @site-content-font-size;

  .thumbnails {

    padding-left: 0;
    padding-right: 0;
    background-color: @projects-thumbnail-background-color;

    div {
      margin-bottom: 50px;

      img {
        width: 100%;
        margin-top: 25px;
        padding-left: 70px;
        padding-right: 70px;
      }

      h3 {
        font-weight: bold;
      }

      p {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    button {
      padding-left: 15px;
      padding-right: 15px;
      background-color: inherit;
      box-shadow: none;
      border: 2px solid @default-link-hover-color;
      border-radius: 5px;
      color: @default-link-hover-color;

      &:hover {
        color: #fff;
        background-color: @default-link-hover-color;
      }
    }

    .learn-more {
      margin-top: 15px;
    }
  }

  .project-container {
    padding-left: 0;
    padding-right: 0;

    .project-section {
      padding-bottom: 40px;

      h1 {
        font-size: @project-title-font-size;
      }

      .project-content {
        margin-top: 40px;

        p {
          text-align: justify;
          margin-bottom: 17px;
        }

        .tryptravl-link {
          color: #fff;
          text-decoration: none;
          &:hover {
            .carousel-header {
              background-color: darken(@triptivity-project-background-color, 20%);
            }
          }
        }

        .carousel-header {
          margin-top: 0;
          padding: 10px 0;
          background-color: darken(@triptivity-project-background-color, 15%);
          border-radius: 8px;
        }


        .carousel {
          max-width: @projects-carousel-max-width;

          &#triptivity-android-carousel {
            margin-bottom: 50px;
          }

          &#eggleston-designs-carousel {
            max-width: 1000px;
            margin: 0 auto 15px auto;
          }

          img {
            margin: 0 auto;
          }

          a {
            &:hover {
              cursor: pointer;
            }

            .carousel-nav-icons {
              margin-top: 30px;
            }
          }
        }

        .image-container {
          img {
            width: 100%;
            margin-bottom: 30px;
          }
        }
      }
    }


  }

  //set the colors and styling for the individual sections here
  #triptivity {
    background-color: @triptivity-project-background-color;
    color: #fff;
  }

  #eggleston-designs {
//    background-color: darkgreen;
//    color: #fff;
  }

  #feel-free {
    background-color: @soundcloud-color;
    color: #fff;
  }

  @media (max-width: 1500px) and (min-width: 1200px) {
    .thumbnails {
      div {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  @media (max-width: 768px) {
    .project-content {
      p {
        margin-top: 25px;
        &#feel-free-p {
          margin-top: -20px;
        }
      }
    }
  }

}